// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

@import url("http://fonts.googleapis.com/css?family=Titillium+Web:400,600,700,200,300");

body,html { 
	background: $body-bg;
	background-image: url("http://noisepng.com/noise-200-200-1-monochrome.png");
	/* -webkit-font-smoothing: antialiased; */
}

.zk-node,tt {
	font-family: consolas,menlo,courier,monospace;
}

.zk-node {
	min-width: 250px;
}

.zk-dir {
	font-weight: bold;
}

table th {
	text-align: left;
}

.top-bar, .top-bar-section .left {
	border-bottom: 2px solid $body-font-color;
}
.top-bar {
	height: $topbar-height + 2;

	.divider {
		border-color: lighten($body-font-color, 60%) !important;
		border-width: 0 1px 0 0 !important;
	}
	a:hover {
		background: $body-bg;
	}
}

code {
	font-weight: normal;
	font-family: consolas,menlo,courier,monospace;
	font-size: 9pt;
}

a .callout {
	color: #eee;
}

body {
	margin-bottom: 15em;
}

.plot {
	height: 125px;
	font: 10px sans-serif;
}

.dygraph-axis-label, .dygraph-legend {
	font-size: 10px;
	font-family: sans-serif;
	color: lighten($body-font-color, 15%);
}

.drawing {
	opacity: 0.2;
	background: lighten($body-bg, 10%);
}

.metric h6 {
	height: 1.5em;
	
	text-overflow: ellipsis;
	overflow: hidden;
	cursor: pointer;

	&:hover {
		overflow: visible;
		z-index: 1;
	}
}

.page-nav-bar {
	.button {
		color: $body-font-color;
		border: 1.5px solid lighten($body-font-color, 20%);
		background: none;
		font-weight: bold;

		&:hover {
			background: darken($body-bg, 10%);
		}

		&.active {
			background: lighten($body-font-color, 25%);
			color: $body-bg;
		}
	}

	.button-group {
		display: inline-block;

		.name {
			float: none;
			clear: both;
			display: block;
			font-weight: bold;
			font-size: 70%;
			text-transform: uppercase;
			width: 100%;
		}
	}
}

.tooltip {
	border: 1px solid darken($body-bg, 10%);

	.nub {
		border-color: transparent transparent darken($body-bg, 10%) transparent;
	}
}

/*.sub-nav {
	dd {
		border: 1px solid $body-font-color;
		padding: inherit .5em;
	}
}*/

.fat-row {
	padding: 0 15px;
}