// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

body,html { 
	background: $body-bg;
	-webkit-font-smoothing: antialiased;
}

.zk-node,tt {
	font-family: consolas,menlo,courier,monospace;
}

.zk-node {
	min-width: 250px;
}

.zk-dir {
	font-weight: bold;
}

table th {
	text-align: left;
}

code {
	font-weight: normal;
	font-family: consolas,menlo,courier,monospace;
	font-size: 9pt;
}

a .callout {
	color: #eee;
}

body {
	margin-bottom: 15em;
}

.plot {
	height: 125px;
	font: 10px sans-serif;
}

.dygraph-axis-label, .dygraph-legend {
	font-size: 10px;
	font-family: sans-serif;
	color: #A3A0A1;
}

.fat-row {
	padding: 0 15px;
}