{{with .Object}}
<div class='fat-row'>
	<div class='large-4 columns inverse'>
		<h2>
			<small class='verticalheader light'>worker</small>
			<a href="/worker/{{urlquery .Path}}">{{html .ID}}
			{{if .Alive}}
				<!-- <small>
					<i class='icon-heart-empty'></i>
				</small> -->
			{{else}}
				<span class=''>
					<i class='icon-warning-sign has-tip' data-tooltip
						title='unreachable: {{.Error}}'
					></i>
				</span>
			{{end}}
		</h2>
		<dl class='sub-nav'>
			<dt><a href='?'>Summary</a></dt>
			<dt class='active'><a href='?instrumentation'>Statistics</a></dt>
			<dt><a href='?profiling'>Profiling</a></dt>
			<dt><a href='?stacktrace'>Stacktrace</a></dt>
			<dt><a href='?logging'>Logging</a></dt>
			<dt><a href='?metrics'>Metrics</a></dt>
		</dl>
	</div>
</div>
{{end}}