{{with .Object}}
<div class='row'>
	<div class='twelve columns'>
		<h1>
			<span class='subheader'>worker</span> 
			<a href="/worker/{{.Path}}">{{.ID}}</a>
		</h1>
	</div>
</div>
<div class='row'>
	<div class='twelve columns'>
		<nav class='top-bar'>
			<section class='top-bar-section'>
				<ul class='left'>
					<li class='divider'></li>
					<li><a href='?metrics'>Statistics</a></li>
					<li class='divider'></li>
					<li><a href='?profiling'>Profiling</a></li>
					<li class='divider'></li>
					<li><a href='?stacktrace'>Stacktrace</a></li>
					<li class='divider'></li>
					<li><a href='?logging'>XXXX Logging</a></li>
					<li class='divider'></li>
					<li><a href='?logging'>XXXX Metrics</a></li>
					<li class='divider'></li>
				</ul>
			</section>
		</nav>
	</div>
</div>
{{end}}