{{with .Object}}
<div class='fat-row'>
	<div class='twelve columns'>
		<h2>
			<small class='verticalheader light'>worker</small>
			<a href="/worker/{{.Path}}">{{.ID}}</a>
			{{if .Alive}}
				<span class='subheader'>(alive)</span>
			{{else}}
				<span class='subheader'>(unreachable: <small>{{.Error}}</small>)</span>
			{{end}}
		</h2>
	</div>
</div>
<div class='fat-row'>
	<div class='twelve columns'>
		<dl class='sub-nav'>
			<dt class='active'><a href='?metrics'>Statistics</a></dt>
			<dt><a href='?profiling'>Profiling</a></dt>
			<dt><a href='?stacktrace'>Stacktrace</a></dt>
			<dt><a href='?logging'>Logging</a></dt>
			<dt><a href='?metrics'>Metrics</a></dt>
		</dl>
	</div>
</div>
{{end}}