{
	"Zookeeper": {
		"Workers": [
			"127.0.0.1:2181"
		],
		"Dir": "/obelisk"
	},
	"Deploy": {
        "Dir": "/Users/wiktor/.obelisk/deploy",
        "Worker": "4obeliskagent"
    },
	"Build": {
		"Host":             "localhost",
		"Jail":             "/Users/wiktor/.obelisk/build",
		"ZookeeperInclude": "/usr/local/Cellar/zookeeper/3.4.5/include/zookeeper",
		"ZookeeperLib":     "/usr/local/Cellar/zookeeper/3.4.5/lib",
		"Tool":             "/Users/wiktor/Code/gocircuit/bin/4build",
		"PrefixPath":       "",

		"AppRepo":          "{rsync}/Users/wiktor/Code/g0/",
		"AppSrc":           "/",

		"GoRepo":           "{rsync}/Users/wiktor/Code/go",
		"RebuildGo":        false,

		"CircuitRepo":      "{rsync}/Users/wiktor/Code/gocircuit",
		"CircuitSrc":       "/",

		"WorkerPkg":        "obelisk/server/worker",
		"CmdPkgs":          [
			"obelisk/agent/cmd/agent-run",
			"obelisk/agent/cmd/agent-spawn",
			"obelisk/server/cmd/server-run",
			"obelisk/server/cmd/server-spawn"
		],
		"ShipDir":          "/Users/wiktor/.obelisk/ship"
	}
}
