
<script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/foundation/4.1.2/js/vendor/jquery.js"></script>
<script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/foundation/4.1.2/js/foundation.min.js"></script>
<script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.1/jquery.sparkline.js"></script>
<script type='text/javascript'>
	$(document).foundation();
	$(function() {
		$('.sparkline').sparkline('html', { barColor: 'blue'} );
	})
</script>
</body>
</html>