<!doctype HTML>
<html>
<head>
	<title>obelisk</title>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/4.1.2/css/foundation.min.css"/>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/4.1.2/css/normalize.min.css"/>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.0.2/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/app.css"/>
	<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
</head>
<body>
	<nav class='top-bar'>
		<ul class='title-area'>
			<li class='name'>
				<h1><a href='/'>Obelisk</a></h1>
			</li>
		</ul>

		<section class="top-bar-section">
			{{headerBar header ""}}
		</section>
	</nav>

	{{if .Flash}}
		<div class='row'>
			<div class='ten columns centered'>
				<div class='alert-box'>
					{{.Flash}}
				</div>
			</div>
		</div>
	{{end}}
