.zk-node,tt {
	font-family: consolas,menlo,courier,monospace;
}

.zk-node {
	min-width: 250px;
}

.zk-dir {
	font-weight: bold;
}

table th {
	text-align: left;
}

code {
	font-weight: normal;
	font-family: consolas,menlo,courier,monospace;
	font-size: 9pt;
	color: rgb(46,52,54);
}

a .callout {
	color: #eee;
}

body {
	margin-bottom: 15em;
}

.plot {
	height: 150px;
	/*background: #fafafa;*/
	/*border: 1px solid #f3f3f3;*/
	font: 10px sans-serif;
}

.dygraph-axis-label, .dygraph-legend {
	font-size: 10px;
	font-family: sans-serif;
}