{{template "_header.html" .}}
{{with .Object}}
<div class='row'>
	<div class='twelve columns'>
		<h1>Host <a href="/host/{{.Name}}">{{.Name}}</a></h1>
	</div>
	<hr/>
</div>

<div class='row'>
	<div class='twelve columns'>
		<h3>Metrics</h3>
	</div>
</div>
<div class='row'>
	<ul class='small-block-grid-2 large-block-grid-2'>
		{{range .Metrics}}
			<li>
				<h6><tt>{{.Name}}</tt> <span class='subheader'>{{.Desc}}</span></h6>
				<div id="plot-{{.Path}}" class='plot'></div>
				<script type="text/javascript">
					$(function() {chart("{{.Path}}")})
				</script>
			</li>
		{{end}}
	</ul>
</div>

{{end}}
{{template "_footer.html" .}}