{{template "_header.html" .}}
{{with .Object}}
<div class='fat-row'>
	<div class='twelve columns'>
		<h1>Host <a href="/host/{{.Name}}">{{.Name}}</a></h1>
	</div>
	<hr/>
</div>

<div class='fat-row'>
	<div class='large-2 columns'>
		<h3>Metrics</h3>
	</div>
	<!--
	<div class='large-10 columns right'>
		<div class='button-bar right'>
			<ul class='button-group even-2'>
				<li><a href='#' onclick='setDuration(30*24)' class='small button'> 30d </a></li>
				<li><a href='#' onclick='setDuration(7*24)' class='small button'> 7d </a></li>
			</ul>
			<ul class='button-group even-3'>
				<li><a href='#' onclick='setDuration(96)' class='small button'> 96h </a></li>
				<li><a href='#' onclick='setDuration(24)' class='small button'> 24h </a></li>
				<li><a href='#' onclick='setDuration(4)' class='small button'> 4h </a></li>
			</ul>
			<ul class='button-group even-2'>
				<li><a href='#' onclick='setResolution(75)' class='small button'> fast </a></li>
				<li><a href='#' onclick='setResolution(300)' class='small button'> detailed </a></li>
			</ul>
		</div>
	</div>
-->
</div>
<div class='fat-row'>
	<ul class='small-block-grid-2 large-block-grid-4'>
		{{range .Metrics}}
			<li>
				<h6><tt>{{.Name}}</tt> <span class='subheader'>{{.Desc}}</span></h6>
				<div id="plot-{{.Path}}" class='plot'></div>
				<script type="text/javascript">
					$(function() {chart({query: "{{.Path}}", rate: {{.IsRate}}})})
				</script>
			</li>
		{{end}}
	</ul>
</div>

{{end}}
{{template "_footer.html" .}}