{{template "_header.html" "Workers"}}
<div class='row'>
	<div class='twelve columns'>
		<h1>Workers</h1>
	</div>
</div>

<div class='row'>
	<div class='twelve columns'>
		<h3 class='subheader'>Sumador</h3>
		<hr/>
	</div>
</div>
<div class='row'>
	<div class='twelve columns'>
		<h3 class='subheader'>Vena</h3>
		<h4>Front</h4>
		<ul class='large-block-grid-4'>
			<li><div class='panel radius'>host1</div></li>
			<li><div class='panel radius'>host2</div></li>
			<li><div class='panel radius'>host3</div></li>
			<li><div class='panel radius'>host4</div></li>

			<li><div class='panel radius'>host5</div></li>
			<li><div class='panel radius'>host6</div></li>
			<li><div class='panel radius'>host7</div></li>
			<li><div class='panel radius'>host8</div></li>
		</ul>

		<h4>Shard</h4>
		<ul class='large-block-grid-4'>
			<li><div class='panel radius'>host1</div></li>
			<li><div class='panel radius'>host2</div></li>
			<li><div class='panel radius'>host3</div></li>
			<li><div class='panel radius'>host4</div></li>
		</ul>
		<hr/>
	</div>
</div>
<div class='row'>
	<div class='twelve columns'>
		<h3 class='subheader'>Firehose</h3>
		<hr/>
	</div>
</div>
{{template "_footer.html" .}}