{{template "_header.html" .}}
{{with .Object}}
<div class='row'>
	<div class='twelve columns'>
		<h3>
			<span class='subheader'>ZK:</span> {{.Node}} <span class='subheader'>(rev. {{.Stat.Version}}.{{.Stat.CVersion}}.{{.Stat.AVersion}})</span>
			<span class='pull-right'><i class='icon-spinner icon-spin'></i></span>
		</h3>
	</div>
	<div class='row'>
		<div class='12 columns'>
			{{if .Anchor}}
				<a href="/worker{{.Node}}">
					<div class='panel callout radius'>
						Worker: <strong>{{.Anchor.Addr}}</strong>
						<i class='icon-angle-right'></i>
					</div>
				</a>
			{{end}}

			{{if .Data}}
				<div class='panel'>
				<code><pre>{{.Data}}</code></pre>
				</div>
			{{end}}
		</div>
	</div>
	<div class='row'>
		<div class='12 columns'>
			<h6>Tree</h6>
			<table class='12 columns'>
				<tr><th>node</th><th></th><th>meta</th></tr>
				{{if .Parent}}
					<tr>
						<td colspan=3 class='zk-node zk-dir'><a href="{{.Parent}}">{{.Parent}}/</a></td>
					</tr>
				{{end}}
				{{range .Nodes}}
					<tr>
						{{if .IsDir}}
							<td class='zk-node zk-dir'>
								<a href="./{{.Name}}/">
									<i class='icon-folder-close'></i>
									{{.Name}}/
								</a>
							</td>
						{{else}}
							<td class='zk-node'>
								<a href="./{{.Name}}">
									<i class='icon-file'></i>
									{{.Name}}
								</a>
							</td>
						{{end}}
						<td>
							{{if .Error}}
								Error: {{.Error}}
							{{end}}

							{{if .Data}}
								<tt>{{.Data}}</tt><br/>
							{{end}}
							{{if .Stat.DataLength}}
								<small>({{.Stat.DataLength}} bytes)</small>
							{{end}}
						</td>
						<td width=200>
							{{.MTimeStr}}
							{{if .Stat.EphemeralOwner}}
								<small>(ephemeral: {{.Stat.EphemeralOwner}})</small>
							{{end}}
						</td>
					</tr>
				{{end}}
			</table>
		</div>
		<div class='row'>
			<div class='large-2 right columns end'>
				<ul class='button-group'>
					<li><a href="?delete" class='small button secondary'>Delete Node</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

{{end}}
{{template "_footer.html" .}}