<!doctype HTML>
<html>
<head>
	<title>obelisk</title>
	<script src="//cdnjs.cloudflare.com/ajax/libs/foundation/4.1.2/js/foundation.min.js">
	</script>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/4.1.2/css/foundation.min.css"/>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/4.1.2/css/normalize.min.css"/>
</head>
<body>
	<nav class='top-bar'>
		<ul class='title-area'>
			<li class='name'>
				<h1><a href='/'>Obelisk</a></h1>
			</li>
		</ul>

		<section class="top-bar-section">
			<ul class='left'>
				<li class='divider'></li>
				<li class='name'>
					<a href='/host.html'>Hosts</a>
				</li>
				<li class='divider'></li>
				<li class='name'>
					<a href='/workers.html'>Workers</a>
				</li>
				<li class='divider'></li>
				<li class='name'>
					<a href='/zk.html'>ZK</a>
				</li>
				<li class='divider'></li>
			</ul>
		</section>
	</nav>
