{{template "_header.html" .}}

<div class='row'>
	<div class='twelve columns'>
		<h3>ZK: <span class='subheader'>{{.Node}} (rev. {{.Stat.CVersion}}.{{.Stat.AVersion}})</span></h3>
	</div>
	<div class='row'>
		<div class='12 columns'>
			<table>
				<tr><th>node</th><th></th></tr>
				{{if .Parent}}
					<tr>
						<td><a href="{{.Parent}}">{{.Parent}}/</a></td>
						<td></td>
					</tr>
				{{end}}

				{{range .Dirs}}
					<tr>
						<td class='zk-node'><a href="./{{.}}/">{{.}}/</a></td>
						<td></td>
					</tr>
				{{end}}
			</table>
		</div>
	</div>
</div>

{{template "_footer.html" .}}