{{template "_header.html" "ZK"}}
<div class='row'>
	<div class='twelve columns'>
		<h3>ZK: <span class='subheader'>{{.Node}} (rev. {{.Stat.Version}}.{{.Stat.CVersion}}.{{.Stat.AVersion}})</span></h3>
	</div>
	<div class='row'>
		<div class='12 columns'>
			<table class='12 columns'>
				<tr><th>node</th><th></th><th>meta</th></tr>
				{{if .Parent}}
					<tr>
						<td colspan=3 class='zk-node zk-dir'><a href="{{.Parent}}">{{.Parent}}/</a></td>
					</tr>
				{{end}}

				{{range .Nodes}}
					<tr>
						{{if .IsDir}}
							<td class='zk-node zk-dir'><a href="./{{.Name}}/">{{.Name}}/</a></td>
						{{else}}
							<td class='zk-node'>
								{{.Name}}
							</td>
						{{end}}
						<td>
							{{if .Error}}
								Error: {{.Error}}
							{{end}}

							{{if .Data}}
								<tt>{{.Data}}</tt><br/>
							{{end}}
							{{if .Stat.DataLength}}
								<small>({{.Stat.DataLength}} bytes)</small>
							{{end}}
						</td>
						<td width=200>
							{{.MTimeStr}}
							{{if .Stat.EphemeralOwner}}
								<small>(ephemeral: {{.Stat.EphemeralOwner}})</small>
							{{end}}
						</td>
					</tr>
				{{end}}
			</table>
		</div>
	</div>
</div>

{{template "_footer.html" .}}