<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel='stylesheet' href='/stylesheets/app.css' ></link>
	</head>
	<body>
		<div class='row'>
			<div class='large-2 columns'>
				<h1><a href='/'>obelisk</a></h1>
			</div>
			<div class='large-10 columns'>
				<div class='page-nav-bar right end'>
					<ul class='button-group'>
						<li><a class='small button' href=''>About</a></li>
						<li><a class='small button' href=''>Documentation</a></li>
						<li><a class='small button' href='http://github.com/wkm/obelisk'>Source Code</a></li>
					</ul>
				</div>
			</div>
		</div>
		{{content}}
	</body>
</html>